language: elixir
elixir:
  - 1.3.2
  - 1.4.0-rc.1

otp_release:
  - 19.0

matrix:
  allow_failures:
    - elixir: 1.4.0-rc.1

script:
- bin/fetch-configlet
- bin/configlet .
- mix deps.get
- mix test

# fail if there are any compiler warnings
- mkdir ./tmp
- EXERCISM_TEST_EXAMPLES=true elixirc --warnings-as-errors **/example.exs **/*_test.exs -o ./tmp > /dev/null
- rm -rf ./tmp

- bin/dialyzer_check.sh

- "! git grep ' $' -- \\*.exs | grep -v -e 'exercises/diamond/diamond_test.exs'"

sudo: false
