# This workflow will do a clean install of the dependencies and run tests across different versions
#
# Requires scripts:
# - bin/ci.sh
# - bin/ci-check.sh

name: elixir / main ci

on:
  push:
    branches: [master, main]
  workflow_dispatch:

jobs:
  precheck:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        elixir: [1.14]
        otp: [25.0]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Elixir
        uses: erlef/setup-beam@v1.16
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Set cache key
        id: set_cache_key
        run: |
          erl -eval '{ok, Version} = file:read_file(filename:join([code:root_dir(), "releases", erlang:system_info(otp_release), "OTP_VERSION"])), io:fwrite(Version), halt().' -noshell > ERLANG_VERSION
          cat ERLANG_VERSION
          elixir --version | tail -n 1 > ELIXIR_VERSION
          cat ELIXIR_VERSION
          cache_key="os-${{ runner.os }}-erlang-$( sha256sum ERLANG_VERSION | cut -d ' ' -f 1 )-elixir-$( sha256sum ELIXIR_VERSION | cut -d ' ' -f 1 )-mix-lock-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}"
          echo "::set-output name=cache_key::$cache_key"

      - name: Retrieve Mix Dependencies Cache
        uses: actions/cache@v3
        id: mix-cache # id to use in retrieve action
        with:
          path: deps
          key: mix-${{ steps.set_cache_key.outputs.cache_key }}-v1

      - name: Install Mix Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: mix deps.get

      - name: Build Project
        run: mix

      - name: Retrieve PLT Cache
        uses: actions/cache@v3
        id: plt-cache
        with:
          path: priv/plts
          key: plts-${{ steps.set_cache_key.outputs.cache_key }}-v1

      - name: Create PLTs
        if: steps.plt-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts
          mix dialyzer --plt

      - name: Run Prechecks
        run: bin/ci-check.sh

  ci:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        include:
          - elixir: '1.9.0'
            otp: '21.0'
          - elixir: '1.10.0'
            otp: '21.0'
          - elixir: '1.10.0'
            otp: '22.2'
          - elixir: '1.11.0'
            otp: '23.2'
          - elixir: '1.12.0'
            otp: '24.0'
          - elixir: '1.13.0'
            otp: '24.1'
          - elixir: '1.14.0'
            otp: '25.0'

    steps:
      - uses: actions/checkout@v3
      - name: Use Elixir ${{matrix.elixir}} / OTP ${{matrix.otp}}
        uses: erlef/setup-beam@v1.16
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Retrieve Mix Dependencies Cache
        uses: actions/cache@v3
        id: mix-cache # id to use in retrieve action
        with:
          path: deps
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}-v2

      - name: Install Mix Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: mix deps.get

      - name: Build Project
        run: mix

      - name: Run Checks
        run: bin/ci.sh
